:root {
    --theme: rgb(255, 255, 255);
    --entry: rgb(15, 104, 76);
    --primary: rgb(36, 42, 46);
    --secondary: rgba(109, 110, 113, 1);
    --tertiary: rgb(124, 154, 140);
    --content: rgb(28, 26, 26);
    --hljs-bg: #e3e3e3;
    --code-bg: --var(--hljs-bg);
    --border: rgb(124, 154, 140);
    --highlight: rgb(124, 154, 140);
}

.dark {
    --theme: #1d1e20;
    --entry: #2e2e33;
    --primary: rgb(183, 185, 191);
    --secondary: rgb(193, 182, 225);
    --tertiary: rgb(75, 75, 75);
    --content: rgb(232, 232, 232);
    --hljs-bg: #282a36;
    --code-bg: --var(--hljs-bg);
    --border: rgb(172, 162, 203);
    --highlight: rgb(172, 162, 203);
}