:root {
    --theme: rgb(255, 255, 255);
    --entry: rgba(10, 110, 103, 0.516);
    --primary: rgba(84, 84, 84) !important;
    --secondary: rgb(0, 74, 55);
    --tertiary: rgba(199, 157, 40, 0.572);
    --content: rgb(109, 109, 109);
    --hljs-bg: #e3e3e3;
    --code-bg: --var(--hljs-bg);
    --border: rgba(12, 121, 92, 0.825) !important;
    --highlight: rgba(195, 162, 29, 0.716) !important;
}

.dark {
    --theme: #1d1e20;
    --entry: #2e2e33;
    --primary: rgb(183, 185, 191) !important;
    --secondary: rgb(193, 182, 225);
    --tertiary: rgb(75, 75, 75);
    --content: rgb(232, 232, 232);
    --hljs-bg: #282a36;
    --code-bg: --var(--hljs-bg);
    --border: rgb(172, 162, 203) !important;
    --highlight: rgb(172, 162, 203) !important;
}